@page
@model E_learning.CreateModel
@{
}


<script src="Scripts/jquery-3.6.3.min.js"></script>
<!--form working now need to make it generate the quizzes-->
<script>
    $.ajax({
        url: "https://quizgecko.com/api/v1/questions",
        type: "POST",
        headers: {
            Authorization: "Bearer 33|iaCVER7tcT5gsG4jUnY8cQSdcg5HigtJVAXrbP20",
            Accept: "application/json",
            "Content-Type": "application/json; charset=utf-8",
        },
        data: JSON.stringify({
            url: "https://en.wikipedia.org/wiki/Physics",
            question_type: "multiple_choice",
            count: 5,
            difficulty: "easy",
        }),
        success: function (data, textStatus, xhr) {
            console.log(data);

        }
    },
    );

</script>


<form method="post" asp-page-handler="Create">
    <div class="form-group">
        <label asp-for="Tutorial.Title"></label>
        <input asp-for="Tutorial.Title" class="form-control" />
        <span asp-validation-for="Tutorial.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tutorial.Description"></label>
        <input asp-for="Tutorial.Description" class="form-control" />
        <span asp-validation-for="Tutorial.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tutorial.Content"></label>
        <textarea asp-for="Tutorial.Content" class="form-control"></textarea>
        <span asp-validation-for="Tutorial.Content" class="text-danger"></span>
    </div>

    <!--
    <div class="form-group">
        <label asp-for="QuizQuestion.Question"></label>
        <input asp-for="QuizQuestion.Question" class="form-control" />
        <span asp-validation-for="QuizQuestion.Question" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuizQuestion.Answer1"></label>
        <input asp-for="QuizQuestion.Answer1" class="form-control" />
        <span asp-validation-for="QuizQuestion.Answer1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuizQuestion.Answer2"></label>
        <input asp-for="QuizQuestion.Answer2" class="form-control" />
        <span asp-validation-for="QuizQuestion.Answer1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuizQuestion.Answer3"></label>
        <input asp-for="QuizQuestion.Answer3" class="form-control" />
        <span asp-validation-for="QuizQuestion.Answer1" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="QuizQuestion.CorrectAnswer"></label>
        <input asp-for="QuizQuestion.CorrectAnswer" class="form-control" />
        <span asp-validation-for="QuizQuestion.CorrectAnswer" class="text-danger"></span>
    </div>-->
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div id="quizContainer"></div>

