@page
@model E_learning.Pages.JavacompilerModel
@{
}


<h1>Java Compiler</h1>

    <iframe src="https://www.jdoodle.com/embed/v0/5Osw" width="1100px" height="500px"></iframe>



<script src=”https://www.jdoodle.com/assets/jdoodle-pym.min.js” type=”text/javascript”></script>