@page
@model E_learning.Pages.newTutorialModel
@{
}
<h1>Add New Tutorial</h1>

<form method="post">
    <div>
        <label for="title">Tutorial Title:</label>
        <input type="text" id="title" name="Title" asp-for="Tutorial.Title">
    </div>


    <div>
        <label for="description">Tutorial Description:</label>
        <input type="text" id="description" name="Description" asp-for="Tutorial.Description">
    </div>
    <div>
        <label for="text">Tutorial content:</label>
        <input  type="text" id="content" name="Content" asp-for="Tutorial.Content">
    </div>

    <label for="language">Tutorial language:</label>
    <select id="language" asp-for="Tutorial.ProgrammingLanguage" name="ProgrammingLanguage">
        <option value="SQL">SQL</option>
        <option value="Python">Python</option>
        <option value="cpp">C++</option>
        <option value="csharp">C#</option>
        <option value="JAVA">JAVA</option>
    </select><br />





    <label for="difficulty">Difficulty:</label>
    <select id="difficulty" name="difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select><br />

    <input type="submit" value="Create" />
</form>